DATABASE_URL="file:./dev.db"
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="replace-with-a-32-byte-random-string"
STRIPE_SECRET_KEY=""
STRIPE_WEBHOOK_SECRET=""
PLATFORM_FEE_BPS="500"
RESEND_API_KEY=""
EMAIL_FROM=""
